<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if notice.present? %>
      <p class="alert alert-primary" role="alert"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
